apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: unidash
    component: backend
spec:
  type: ClusterIP
  ports:
  - port: 3333
    targetPort: 3333
    protocol: TCP
    name: http
  selector:
    app: unidash
    component: backend
