apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: unidash
    component: frontend
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: unidash
    component: frontend
