apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
  labels:
    app: unidash
    component: postgres
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/unidash/postgres"
    type: DirectoryOrCreate
