apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  labels:
    app: unidash
    component: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: unidash
      component: postgres
  template:
    metadata:
      labels:
        app: unidash
        component: postgres
    spec:
      containers:
      - name: postgres
        image: docker.io/postgres:16
        ports:
        - containerPort: 5432
          name: postgres
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_DB
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc
